.AppLink {
  font: var(--font-m);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;

  svg {
    max-width: 20px;
    max-height: 20px;
  }

  &.primary {
    color: var(--inverted-primary-color);
    svg {
      fill: var(--inverted-primary-color);
    }
  }

  &.secondary {
    color: var(--inverted-secondary-color);
    svg {
      fill: var(--inverted-secondary-color);
    }
  }
}