.title {
  font: var(--font-l);
  color: var(--white-color);
}

.description {
  font: var(--font-m);
  color: var(--white-color);
}

.error {
  .title, .description {
    color: var(--danger-color);
  }
}