.App.light {
  --bg-color: #b9b9b9;
  --primary-color: #004c85;
  --secondary-color: #312d2d;
  --inverted-bg-color: #1e2742;
  --inverted-primary-color: #29a0ff;
  --inverted-secondary-color: #dadada;
  --filter-invert: 1;
}