.btn {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: 0;

}

.clear {
  background-color: transparent;
}

.primary, .disabled, .loading {
  background-color: var(--inverted-primary-color);
  border-radius: var(--radius-s);
  color: var(--primary-color);
  padding: 10px 15px;
}

.disabled, .loading {
  pointer-events: none;
  opacity: .5;
}

.secondary {
  border-radius: var(--radius-s);
  padding: 10px 15px;
  color: var(--inverted-primary-color);
  background-color: transparent;
  border: 1px solid var(--inverted-primary-color);
}

.loading {
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  display: flex;
  align-items: center;
  &:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    border-bottom-color: transparent;
    display: block;
    animation: rotation 1s linear infinite;
    margin-right: 5px;
  }
}