.navbar {
  margin-left: auto;
  width: calc(100% - 120px);

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: center;

    li a {
      text-decoration: none;
      color: var(--inverted-primary-color);
    }
  }
}

.lang {
  margin-left: 20px;
}

.header {
  background-color: var(--inverted-bg-color);
  min-height: var(--navbar-height);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.login {
  margin-left: 20px;
}