.InputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 250px;
  width: 100%;
}

.InputLabel {
  color: var(--white-color);
  font: var(--font-m);
}

.Input {
  min-height: 40px;
  border-radius: var(--radius-s);
  border: 0;
  outline: none;
  padding: 10px;
  width: 100%;
}

.primary {
  .InputLabel {
    color: var(--white-color);
  }
}

.secondary {
  .Input {
    border: 1px solid var(--primary-color);
  }
  .Input, .InputLabel {
    color: var(--secondary-color);
  }
}

.error {
  .Input {
    border: 1px solid var(--danger-color);
  }

  .Input, .InputLabel {
    color: var(--danger-color);
  }
}